// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;
$color-primary-light: #e2a764;

$color-secondary: #101d2c;

$color-tertiary: #63c2c6;
$color-tertiary-dark: #42b0b4;

$color-quaternary: #800000;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;
$color-gray-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT VARIABLES
$font-primary: iransansdn, tahoma;
$font-display: iransansdn, tahoma;

$boder-radius: 3px;

//Responsive breakpoints
$bp-largest: 75rem; // 1200px
$bp-large: 62.5rem; // 1000px
$bp-medium: 50rem; // 800px
$bp-small: 37.5rem; // 600px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.6%;
}

body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 300;
  line-height: 1.6;
  direction: rtl;
}

.container {
  display: grid;

  grid-template-rows: min-content minmax(80vh, max-content);
  grid-template-columns:
    [sidebar-start] 12rem [sidebar-end full-start] minmax(6rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end] minmax(6rem, 1fr) [full-end];
}
