.navbar {
  background-color: $color-primary;
  grid-column: sidebar-start / -1;
  grid-row: 1 / 2;
}

.cart__notification {
  font-size: 0.8rem;
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 50%;
  background-color: #e40606;
  color: $color-white;
  position: absolute;
  top: -2rem;
  right: -1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
.sitepart {
  display: flex;
  flex: 0 0 50%;

  @media only screen and (max-width: $bp-small) {
    order: 1;
    flex: 0 0 100%;
  }
}

.userpart {
  display: flex;
  flex: 0 0 50%;
  justify-content: flex-end;

  @media only screen and (max-width: $bp-small) {
    flex: 0 0 100%;
  }
}

.nav {
  list-style: none;
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;

  @media only screen and (max-width: $bp-small) {
    flex-wrap: wrap;
    align-content: space-around;
  }

  &__item:not(:last-child) {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  &__item:last-child {
    align-self: center;
    padding-right: 1.5rem;
    padding-left: 5rem;
  }

  &__item:first-child {
    padding-right: 2rem;
  }

  &__item:not(:first-child) {
    align-self: center;
    transition: all 0.15s;
  }

  &__item:not(:first-child):hover {
    transform: translateY(-3px);
  }

  &__item--order {
    margin-left: auto;
  }

  &__item--user {
    padding-left: 1rem;
    transform: translateY(-0.5rem);
  }

  &__link:link,
  &__link:visited {
    position: relative;
    text-decoration: none;
    color: $color-grey-light-1;
  }

  &__img {
    height: 5rem;
    width: 6rem;
    outline-width: thick;
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: $color-grey-light-1;
    &--cart {
      margin-left: 2rem;
    }
    &--user {
      margin-left: 1rem;
    }
  }
}
