.orderjacket {
  grid-column: sidebar-end / full-end;
  padding: 1rem 3rem;
  background-color: rgba($color-grey-light-1, 0.5);

  &__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgba($color-grey-light-1, 0.5);
    @media only screen and (max-width: $bp-small) {
      grid-template-columns: 1fr;
    }
  }

  &__heading {
    padding: 2rem 3rem;
    background-color: rgba($color-grey-light-1, 0.5);
  }

  &__input {
    // margin-right: 3rem;
    background-color: rgba($color-grey-light-1, 0.5);
    grid-row: 1 / span 4;
    grid-column: 1 / span 1;
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 3rem;
    border: none;
    border-bottom: 3px solid transparent;
    width: 70%;
    display: block;
    transition: all 0.3s;

    @media only screen and (max-width: $bp-small) {
      width: 90%;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-grey-light-1, 0.1);
      border-bottom: 3px solid $color-primary;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-secondary;
    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }

    &-1 {
      grid-column: 1 / span 1;
      // background-color: rgba($color-grey-light-1, 0.5);
    }
    &-2 {
      grid-column: 1 / span 1;
      // background-color: rgba($color-grey-light-1, 0.5);
    }
    &-3 {
      grid-column: 1 / span 1;
      // background-color: rgba($color-grey-light-1, 0.5);
    }
    &-4 {
      grid-column: 1 / span 1;
      // background-color: rgba($color-grey-light-1, 0.5);
    }
    &-5 {
      grid-column: 1 / span 1;
      // background-color: rgba($color-grey-light-1, 0.5);
    }

    &-6 {
      grid-column: 1 / span 1;
      // background-color: rgba($color-grey-light-1, 0.5);
    }
  }
  &__label {
    position: absolute;
    // top: 105%;
    // right: 3rem;
    transform: translateY(-50%);
    font-size: 1.4rem;
    font-weight: 400;
    margin-right: 2rem;
    margin-top: 1rem;
    display: block;
    transition: all 0.3s;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-8rem);
  }
  &__btn {
    // margin-right: 2rem;
    grid-column: 1 / span 1;
    padding: 1rem 3rem;
    margin-bottom: 3rem;
    justify-self: start;
    align-self: start;
  }
  &__extra {
    &--image {
      grid-row: 1 / span 2;
      padding: 2rem 4rem;
    }
    &--text {
      text-align: justify;
      font-size: 1.4rem;
      padding: 2rem 4rem;
    }
  }
}

.alert--order {
  margin-right: 0;
  font-weight: 700;
}
